<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2>Welcome to Rails Authentication, Authorization by Damian Mamla.</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>